# Database
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=ChroniclesGameDb
DB_SSL=false

# Server
PORT=8080

# JWT
JWT_SECRET=my_super_secret_key_1234567890123456
JWT_ISSUER=ChroniclesBackend
JWT_AUDIENCE=ChroniclesClient

# Admin UI
ADMIN_SECRET=change_me_admin_secret
